@model LoginViewModel

@if (ViewBag.ErrorMessage != null)
{
        <div class="error-message">
            <p>@ViewBag.ErrorMessage</p>
        </div>
}

<form asp-action="AltaUsuario" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre </label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Username" class="form-label">Usuario</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Contraseña</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="AccessLevel" class="form-label">Rol</label>
    <select asp-for="AccessLevel" class="form-select">
        <option value="Administrador">Administrador</option>
        <option value="Cliente">Cliente</option>
    </select>
    <span asp-validation-for="AccessLevel" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear Usuario</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}